 
[Desktop Entry]
Type=Application
Name=feedService
MimeType=x-maemo-urischeme/ocnews;
Exec=sh /opt/ocNewsReader/bin/ocNewsReader_showContent_Wrapper.sh %U
NotShowIn=X-MeeGo;
